.resultsContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.637);
  border: 5px solid black;
  border-radius: 10px;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.resultsHeading {
  display: flex;
  background: none;
  font-size: 2.5rem;
}

@media (max-width: 768px) {
  .resultsContainer {
    width: 100%;
    min-height: 0;
    border: 2px solid black; /* Thinner border for mobile */
  }
}